#hero-splash {
    margin-top: 50px;
    background-image: url(../img/ominous-mountain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero-splash h1 {
    padding-top: 300px;
    font-family: monospace;
    padding-left: 0px;
}

#hero-splash p {
    padding-bottom: 200px;
    font-size: 15px;
}

#hero-splash a {
    text-align: center;
    border: solid 1px white;
    margin-bottom: 20px;
}

#bio {
    background-color: darkgray;
    
}

#bio h2 {
    font-family:serif;
    color: white;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 40px;
    }

#bio p {
    font-family: monospace;
    color: black;
    margin-top: 40px;
    
}