.food-one {
    background-color: aqua;
    height: 300px;
    
}

.food-one h1 {
    font-family: monospace;
    color: white;
    margin-top: 100px;
    
}

.food-two {
    background-color: black;
    height: 300px;
    }

.food-two h1 {
    font-family: monospace;
    color: white;
    margin-top: 100px;
}