.food-one {
    background-color: deepskyblue;
    height: 300px;
    
}

.food-one h1 {
    font-family: monospace;
    color: white;
    margin-top: 100px;
    
}

.food-two {
    background-color: black;
    height: 300px;
    }

.food-two h1 {
    font-family: monospace;
    color: white;
    margin-top: 100px;
    text-decoration: underline;
}

.four h1 {
    text-align: center;
    color: white;
    
}

.four p {
    text-align: center;
    color: white;
    
}

.food-three {
    background-color: darkcyan;
    
}