/*
#Intel {
    font-weight:bold;
    text-decoration: underline;
}

{
    max-width:100%;
    background-color: blue;
    color: white;
    border-width:200px;
    height:695px;
    height:129px;
*/
header {
       max-width:100%;
    background-color: blue;
    color: white;
    border-width:200px;
    font-family: sans-serif;
}

body
    
    


