.nasa-one {
    width: 850px;
    height:450px;
    margin-left: auto;
    margin-right: auto;
    }



.nasa-text {
    color:red;
    text-emphasis: bold;
    margin-left: auto;
    margin-right: auto;
    
    
}

.nasa-three h2 {
    background:grey;
    float: right;
    }


.table-one {
    float;left;
    
}

.table-two {
    float: right;
   

    
    
    
