.main-box {
    background: url(../img/featured-image-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1024px;
    height: 800px;
    background-color: aqua;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.and-more {
    color: white;
    font-family: arial;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 300px;
    text-align: center;
}

.craft {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

.services {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
}

.anchor {
    margin-top: 5px;
    text-decoration-color: bisque;
    text-align: center;
}