.H {
    font-size: 12px;
    color: black;
    text-decoration: underline;
    
}

.S {
    font-size: 12px;
    color: black;
    text-decoration: underline;
    
    
}



.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

#grow {
    background: url(../img/featured-image-3.jpg);
    width: 370px;
    height: 260px;
}

.small-box h2 {
    color: #FFF;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 50px;
    padding-bottom: 15px;
}

.small-box p {
    color: lawngreen;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
    padding-left: 50px;
}


/* END FIRST SMALL BOX. (TOP LEFT BOX)*/

#plant {
    background: url(../img/featured-image-4.jpg);
    background-repeat: no-repeat;
    width: 370px;
    height: 260px;
}

.small-box-2 h2 {
    color: #FFF;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 50px;
    padding-bottom: 15px;
}

.small-box-2 p {
    color: lawngreen;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 5px;
    margin-top: 10px;
    padding-left: 50px;
}


/* END 2ND SMALL BOX. (BOX BENEATH TOP LEFT BOX). */

#land {
    background: url(../img/featured-image-5.jpg);
    background-repeat: no-repeat;
    width: 700px;
    height: 505px;
    margin-top: 25px;
    float: left;
    padding-bottom: 400px;
    margin-left: 20px;
    padding left: 2px;
    margin-right: 160px;
}

.big-box h1 {
    color: #FFF;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-left: 25px;
   
}

.big-box h3 {
    color: lawngreen;
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 25px;
}

.big-box p {
    color: white;
    font-size: 14px;
    margin-left: 25px;
}

.a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: solid 10px;
    border-color: grey;
    background-color: grey;
    font-size: 12px;
    font-family: sans-serif;
}

.b {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: solid 2px;
    font-size: 12px;
    font-family: sans-serif;
    padding: 7px 7px 7px 7px;
}


}
main {
    width: 1250px;
}
aside {
    float: left;
}

.anchor {
   padding-top: 20px; 
    margin-left: 25px;
    
    
}

.text-big {
    padding-top: 250px; 
    margin-right: 250px;
    
}