header {
    height: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.h1-class {
    float: left;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: dimgray;
}

.nav {
    float: right;
    margin-top: 12px;
    font-family: sans-serif;
    color: dimgray;
}

.nav a {
    text-decoration: none;
    margin-left: 15px;
    color: dimgray;
}

#winery-uva {
    background-image: url(../img/wine-bg.jpg);
    background-repeat: no-repeat;
    color: black;
    height: 1600px;
    width: 1600px;
    margin-bottom: 10px;
  
}

.uva-h1 {
    text-align: center;
    padding-top: 300px;
    color: white;
}

.uva h2 {
    font-size: 15px;
    color: white;
    padding-top: 200px;
    text-align: center;
    padding-top: 10px;
}

.uva p {
    color: white;
    text-align: center;
    margin-top: 5px;
}

#left-box h3{
    color: grey;
    font-size: 10px;
    
}

#left-box h4 {
  color: black;
    font-size: 15px;
    
}

#left-box p {
    font-size: 10px;
    color: grey;
    
}
#left-box {
    width: 578px;
    height: 866px;
    float: left;
}

.man {
    width: 578px;
    height: 866px;
    background-image: url(../img/wine16.jpg);
    float: right;
}
    
}