.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    font-family: monospace;
    float: left;
}

.container a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    /*float: right;*/
    margin-left: 10px;
}

.container nav {
    float: right;
    margin-top: 20px;
}

#hero-splash {
    height: 500px;
}

#hero-splash h1 {
    font-size: 75px;
    margin-left: 10px;
    color: white;
}

#hero-splash p {
    text-align: center;
    color: white;
    font-style: italic;
    text-transform: uppercase;
}

#hero-splash {
    background-image: url(../img/batman-the-animated-series.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-splash a {
    font-size: 12px;
    border: solid 3px white;
    color: white;
    margin-left: 485px;
}


/* End Splash Section CSS*/


/* BEGIN Bio Section*/

#bio {
    width: 100%;
    background-color: black;
    border: solid 1px yellow;
}

.bio-pic {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.bio-text {
    font-family: sans-serif;
    font-size: 12px;
    color: yellow;
    float: right;
}

.bio-text h4 {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 29px;
    text-align: center;
    color: yellow;
    margin-right: 100px;
}

.bio-text p {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    color: yellow;
    margin-right: 50px;
}


/*END Bio Section*/


/*BEGIN Shop Section*/

#shop {
    height: 300px;
    background: black;
    border: solid 1px yellow;
}

.games h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: monospace;
    padding-left: 30px;
    color: white;
}

.comics h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: monospace;
    padding-left: 30px;
    color: white;
}

.comics p {
    padding-left: 15px;
    color: white;
}

.movies h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: monospace;
    padding-left: 30px;
    color: white;
}

.movies p {
    padding-left: 15px;
    color: white;
}

.apparel h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: monospace;
    padding-left: 20px;
    color: white;
}

.apparel p {
    margin-right: 25px;
    color: white;
}

.games {
    width: 20%;
    float: left;
    padding-left: 50px;
    color: white;
}

.comics {
    width: 20%;
    float: left;
    margin-left: 50px;
}

.movies {
    width: 20%;
    float: left;
    margin-left: 50px;
}

.apparel {
    width: 20%;
    float: left;
    margin-left: 50px;
}


/*END Shop Section*/


/*BEGIN DC ONLINE Section*/

#dc-online {
    width: 100%;
    height: 500px;
    background-color: black;
    border: solid 2px yellow;
}

.dc-splash {
    float: left;
    margin-left: 80px;
    padding-top: 100px;
}

.joker-splash {
    float: left;
    padding-top: 100px;
    padding-left: 40px;
}

.dc-splash p {
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 15px;
}

.joker-splash p {
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 15px;
}


/*END DC-ONLINE Section*/


/*Begin Social Media Section*/

#foot {
    background-image: url(../img/batman-v-superman-plot.jpg);
    height: 300px;
    background-size: cover;
    border: solid 2px yellow;
}

#foot h1 {
    font-family: monospace;
    color: white;
    text-align: center;
    margin-top: 100px;
}

#foot a {
    font-family: sans-serif;
    color: white;
    border: solid 3px white;
}

.social-links {
    margin-left: 400px;
}

/*END Social Media Section*/