

body {
    background-color: yellow;
    border: solid 3px black;
    height: 800px;
    
    
}

.header {
    
    border: solid 3px black;
    background-color: beige;
    padding-bottom: 5px;
    width: 100%;
}

.header h3 {
    text-align: center;
    padding-top: 75px;
    font-family: sans-serif;
    font-size: 25px;
    color: darkgray;
}

.header p {
    text-align: center;
    font-family: sans-serif;
    color: darkgray;
}

.header a {
    font-size: 12px;
}

.box-one {
    width: 50%;
    border: solid 2px red;
   
    
}
.two {
    border: solid 3px black;
    margin-bottom: 700px;
    float: right;
  
    
}

.two img {
    width: 150px;
    height: 70px;
    
}

.small-one {
    border: solid 2px red;
    
}

#crap {
    border: solid 3px blue;
    
}

