body {
    background: #c1c1c1;
}

.yellow-bg {
    background: yellow;
}

div img {
    margin-top: 10px;
}

.coco {
    /*width: 255px;*/
    height: 255px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.two {
    background-color: red;
    height: 570px;
    width: 577px;
}

.row h2 {
    margin-top: 150px;
    font-family: monospace;
}

.row p {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 120px;
}

.yellow-bottom {
    border: solid 2px black;
    
}

.yellow-bottom h1 {
    margin-top: 200px;
}

.c-two {
    background-color: lightgray;
}

.coco h4 {
    text-align: center;
    font-family: sans-serif;
}

.coco p {
    text-align: center;
    font-family: sans-serif;
}

.c-two h2 {
    margin-top: 150px;
    font-family: monospace;
}

.c-two p {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 120px;
}

.coco-two h4 {
    text-align: center;
    font-family: sans-serif;
}

.coco-two p {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

