body {
    background-image:url(../img/pizza_trad_pepperoni.png);
    background-repeat: no-repeat;
    height: 700px;
    background-color: bisque;
    
    
    
    
}

#splash h1 {
    font-family: monospace;
    font-size: 40px;
    color: black;
    text-align: center;
    
}

.nav a {
    margin-left: 400px;
    padding-left: 10px;
    
}